{{define "content"}}
  <header>
    <h1 class="govuk-heading-xl">Unidling, please wait &hellip;</h1>
  </header>

  <h2 class="govuk-heading-m" id="message"></h2>

  <div id="success" class="hidden">
    <p class="govuk-body">The app was successfully unidled. You should be automatically redirected in a few seconds.</p>
    <p class="govuk-body">Otherwise, <a href="https://{{.}}/">go to the app</a>.</p>
  </div>

  <div id="failure" class="hidden error-message">
    <p class="govuk-body">There was an issue unidling the app. Refreshing this page could resolve it.</p>
    <p class="govuk-body">If that's not the case, please contact the Analytical Platform team.</p>
  </div>

  {{template "throbber" .}}
{{end}}
